<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{.Title}}</title>
  <meta name="description" content="{{.Description}}">
  <script>
    window.settings = {{.WindowSettings}};
  </script>
  <link rel="stylesheet" crossorigin href="/assets/admin/assets/index-DGuC9SzW.css?v={{.Version}}" />
  <script src="/assets/admin/locales/en-US.js?v={{.Version}}"></script>
  <script src="/assets/admin/locales/zh-CN.js?v={{.Version}}"></script>
  <script src="/static/xboard-admin-bridge.js?v={{.Version}}"></script>
  <script type="module" crossorigin src="/assets/admin/assets/index-CjxIrkj-.js?v={{.Version}}"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
