<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
  <title>{{.Title}}</title>
  <meta name="description" content="{{.Description}}">
  <link rel="stylesheet" crossorigin href="/static/spa/assets/app.css?v={{.Version}}" />
  <script>
    window.__AIRBOARD_BOOTSTRAP__ = {{.Bootstrap}};
  </script>
</head>
<body>
  <div id="root"></div>
  {{.CustomHTML}}
  <script type="module" crossorigin src="/static/spa/assets/app.js?v={{.Version}}"></script>
</body>
</html>
